<!-- <h1>Welcome#index</h1> -->
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<div class="main">
  <table class="todo">
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.text %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

    <table class="doing">
    <% 4.times do %>
      <tr>
        <td>meow</td>
      </tr>
    <% end %>
  </table>

    <table>
    <% 2.times do %>
      <tr>
        <td>Sample</td>
      </tr>
    <% end %>
  </table>
</div>

